* {
    box-sizing: border-box;
}

.wrapper {
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    font-size: 30px;
}

.categories{
    display: flex;
    flex-direction: row;
    
}

.payment-icon {
    width: 50px;
    height: 50px;
}

.category-name {
    margin-top: 15px;
    margin-left: 10px;
}