.login-wrap {
    color: rgb(26, 28, 31);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 546px;
    max-width: 546px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: left;
    margin: 0 auto;
}

.logo {
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin-bottom: 56px;
}

.logo > img {
    width: 154px;
}

.login-form {
    width: 546px;
    border-radius: 40px;
    background-color: #f6f7f8;
    padding: 10px 56px 56px;
}

.login-steps {
    width: 434px;
}

article {
    margin-bottom: 10px;
}

.login-steps > article > h3 {
    font-size: 36px; 
    font-weight: 400;
}

.login-steps > article > p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.phone-input {
    display: flex;
    flex-direction: row;
    height: 72px;
}

.flag-select-btn {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgb(214, 218, 223);
    cursor: pointer;
    width: 56px;
    height: 56px;
    margin-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    object-fit: cover;
}

.flag-icon {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    text-align: center;
    margin-top: 14px;
    margin-left: 9px;
}

.phone-number {
    border-radius: 8px;
    border: 1px solid rgb(214, 218, 223);
    width: 370px;
    height: 56px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 64px;
    padding-top: 27px;
    position: relative;
    text-align: start;
}

label {
    color: rgb(102, 108, 114);
    font-size: 13px;
    position: absolute;
    left: 590px;
    top: 275px;
    z-index: 0;
}

.pwd {
    border-radius: 8px;
    border: 1px solid rgb(214, 218, 223);
    width: 434px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 64px;
    padding-top: 10px;
    position: relative;
    text-align: start;
}

.restore-pwd {
    display: flex;
    justify-content: space-between;
    width: 434px;
}

.restore-pwd > a {
    color: rgb(239, 86, 48);
    text-align: right;
    text-decoration: none;
    width: 125px;
    height: 20px;
    margin-top: 15px;
    margin-left: 308px;
}

.auth-submit {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 56px;
    margin-top: 32px;
    text-align: center;
    width: 434px;
}

.login-btn {
    background-color: rgb(239, 86,48);
    border-radius: 15px;
    border: none;
    align-items: flex-start;
    color: #fff;
    cursor: pointer;
    height: 56px;
    width: 207px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    text-align: center;
    font-size: 16px;
}

.login-btn:hover {
    transform: scale(1.1);
}

.register-btn {
    color: rgb(239, 86, 48);
    background-color: transparent;
    border: none;
    align-items: flex-start;
    cursor: pointer;
    height: 56px;
    width: 207px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    position: relative;
    text-align: center;
    font-size: 16px;
}

.lang-list {
    height: 24px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.ru-lang {
    align-items: center;
    display: flex;
    width: 38px;
    height: 24px;
    margin-right: 8px;
    text-decoration: none;
    color: rgb(26, 28, 31);
}

.lang {
    align-items: center;
    display: flex;
    width: 38px;
    height: 24px;
    margin-right: 8px;
    text-decoration: none;
    color: rgb(183, 190, 197);
}

.lang:hover {
    color: rgb(26, 28, 31);
}

.copyright {
    color: rgb(183, 190, 197);
    font-size: 12px;
    height: 66px;
    line-height: 17px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    text-align: center;

}