* {
    box-sizing: border-box;
    background-color: #fff;
}

.wrapper {
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-bar {
    background-color: rgb(236, 236, 231);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: start;
    width: 400px;
    height: 50px;
}

.search-btn {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 580px;
    top: 100px;
    cursor: pointer;
    background-color: transparent;
}

.not-btn {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20px;
    left: 30px;
}

.prof-btn {
    width: 43px;
    height: 42px;
    position: relative;
    top: 15px;
    left: 50px;
}

.bottom-section {
    margin-top: 20px;
}

.payment-history-btn {
    background-color: rgb(236, 236, 231);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: start;
    width: 180px;
    height: 50px;
    color: rgb(100, 100, 100);
}

.history-btn {
    margin-right: 10px;
    background-color: transparent;
}

.choose-city-btn {
    background-color: rgb(236, 236, 231);
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: start;
    width: 110px;
    height: 50px;
    color: rgb(100, 100, 100);
}

.dropdown-btn {
    margin-left: 10px;
    background-color: transparent;
}

.main-content {
    margin-top: 20px;
    margin-right: 270px;
}

.categories{
    display: flex;
    flex-direction: row;
}

.payment-icon {
    width: 50px;
    height: 50px;
}

.category-name {
    margin-top: 15px;
    margin-left: 10px;
}