* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

html,body {
    height: 100%;
}

body {
    background: #f6f6f5;
    font-family: Inter, Verdana;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: transparent;
}
.swiper-slide img{
    display: block;
    border-radius: 24px;
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.swiper-button-next, .swiper-button-prev {
    background: #f6f6f5;
    border-radius: 100%;
    height: 45px!important;
    opacity: .3;
    top: 50%!important;
    transition: all .2s linear;
    width: 45px!important;
}
.swiper-button-prev:after {
    content: url(https://jusan.kz/file-server/filename?dir=icons&filename=left-arrow.png)!important;
    font-size: 0!important;
}

.swiper-button-next:after {
    content: url(https://jusan.kz/file-server/filename?dir=icons&filename=right-arrow.png)!important;
    font-size: 0!important;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

.arrow-more {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    height: 45px;
    transition: .3s ease;
    width: 45px;
}

button {
    border: none;
}

#root {
    min-height: 100%;
}